/* .gallery{
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1168px;
        gap: 24px;
        list-style: none;
}

.gallery-item{
    width: calc((100% - 48px) / 3);
} */

.gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 1128px;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery-item {
    width: calc((100% - 48px) / 3);
    box-sizing: border-box;
    /* Додаємо box-sizing */
}
.gallery-item img {
    width: 100%;
    display: block;
}